<h1>List of Questions</h1>

<ul>
  <% @questions.each do |q| %>
  <li><%= link_to q.title, question_path(q) %></li>
  <% end %>
</ul>

<% if current_user %>
<p><%= link_to "Ask a question", new_question_path %></p>
<% else %>
<p>You must be logged in to ask a question or submit a response.</p>
<% end %>
