<h1>Welcome, <%= @user.username %>!</h1>

<p><%= link_to "Edit your account information", edit_user_path %>

<p><%= link_to "Ask a question",  new_question_path %></p>


<p>these are your questions:</p>



<p>these are your responses:</p>
