<% if @question.errors.any? %>
  <h3>Someone made a boo boo, papi!</h3>
  <ul>
    <% @question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
